/* @tailwind base; */
/* @tailwind components; */
@tailwind utilities;

@import 'tailwindcss';

:root {
  --color-text: #FFFFFF;
  --color-error: #980000;
  --color-paper: #232323;
  --color-primary: #009688;
  --color-background: #000000;
  --color-primary-contrast: #FFFFFF;
}

html, body {
  background-color: var(--color-background);
  color: var(--color-text);
  @apply w-screen h-screen underline-offset-4;
}

a {
  @apply hover:underline active:opacity-50 transition-opacity
}
